<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div>
      <div class="background-box">
        <h1 class="text-center empty-list-title mb-0">
          <b>Pacientes</b>
        </h1>
        <p class="text-center">
          <b>Registra,actualiza y elimina</b>
        </p>
      </div>
    </div>
    <div class="container my-2">
      <div class="row">
        <div class="col-md-12 text-end mb-3">
          <button
            type="button"
            class="btn btn-outline-success"
            (click)="addPacient()"
          >
            Registrar
          </button>
        </div>
        <div
          class="col-md-3 col-lg-3 col-sm-6 col-xs-12 mx-3 my-2"
          *ngFor="let pacient of pacients"
        >
          <div class="card text-center card-container" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">{{ pacient.name }} {{pacient.lastname}} {{pacient.surname}}</h5>
              <p class="card-text">
                <b>Edad:</b> {{ pacient.age }}
              </p>
              <button class="btn btn-outline-primary btn-sm" (click)="updatePacient(pacient.id!)">Editar</button>
              <button class="btn btn-outline-danger btn-sm mx-2" (click)="deletePacient(pacient.id!)" >
                Eliminar
              </button>
              <button class="btn btn-outline-info btn-sm" >
                Historia Clinica
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
